<div fxLayout="column" fxLayoutAlign=" center">
    <h3>WELCOME TO POKEMON WORLD</h3>
    <img width="80%" src="https://pokemon-world.s3.us-east-2.amazonaws.com/assets/ash.png" />
    <div style="width:80%; margin-top:32px; margin-bottom: 32px;">
        <p>
            Hey There {{data.name | uppercase}}!
        </p>
        <p>
            I heard you're trying to catch all of the wonderous Pokemon that inhabit our world.
            Well, it's your lucky day cause now you can do it right in your browser!
        </p>
        <h4>A Few Things You Won't Want To Miss...</h4>
        <ul>
            <li><span>POKEDEX - </span>View The Stats & Card For Every Pokemon</li>
            <li style="margin-top: 16px;">
                <span>CATCH EM - </span>A Pokemon World Map. At the top center of the map you have 2 main options. 
                <p style="margin: 16px;">The Hand - Travel anywhere you'd like, just click on the map and drag.</p>
                <p style="margin: 16px;">The Shaded Box - Your SECRET WEAPON allowing you to capture any Pokemon you can fit within it.
                Click and drag to form a box around a Pokemon before it gets away!</p>
                <p>- Pokemon are released in batches every 120 seconds, find em quick before they disappear. Oh and ZOOMING IN might help you find those pesky hard to see Pokemon too!</p>
            </li>
            <li><span>STORAGE - </span>View every Pokemon you've caught. More Features Coming Soon!</li>
        </ul>
        <p style="margin-top: 16px;">Now, click the Pokeball in the upper left to find your way around this place & best of luck on your new Adventure!</p>
        <span>- The Pokemon Professor</span>
    </div>
</div>
